.FormContainer {
  width: 50%;
  padding: 0 10px;

  .sectionSubtitle {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .FormContainer {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
  .FormContainer {
    width: 80%;
  }
}
