@import "../../../../constants/colors.scss";

.TableHeader {
  background-color: $lightGrey;
  font-size: 14px;

  th {
    font-weight: normal;
    padding: 13px;
    white-space: nowrap;
    text-align: initial;
  }

  th:hover {
    .headerCellContainer {
      .arrowContainer {
        visibility: visible;
      }
    }
  }

  .headerCellContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;

    .fieldNameContainer {
      display: flex;
      align-items: center;
    }

    .arrowContainer {
      cursor: pointer;
      display: flex;
      align-items: center;
      visibility: hidden;
    }
  }
}
